/*  */
.services {
    text-align: center;
    
}
.image {
    display: inline;
}
.image img{
    max-width: 35%;
}
.content_writing {
    display: inline-block;
    max-width: 35%;
    text-align: justify;
}
.image {
width: 33%;
display: inline-block;
}